{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "babel",
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 200,
  "proseWrap": "always"
}