@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/WOFF2/Metropolis-Light.woff2') format('woff2'),
    url('./fonts/WOFF/Metropolis-Light.woff') format('woff');
  /* Add more formats if necessary */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/WOFF2/Metropolis-Regular.woff2') format('woff2'),
    url('./fonts/WOFF/Metropolis-Regular.woff') format('woff');
  /* Add more formats if necessary */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/WOFF2/Metropolis-SemiBold.woff2') format('woff2'),
    url('./fonts/WOFF/Metropolis-SemiBold.woff') format('woff');
  /* Add more formats if necessary */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/WOFF2/Metropolis-Bold.woff2') format('woff2'),
    url('./fonts/WOFF/Metropolis-Bold.woff') format('woff');
  /* Add more formats if necessary */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/WOFF2/Metropolis-ExtraBold.woff2') format('woff2'),
    url('./fonts/WOFF/Metropolis-ExtraBold.woff') format('woff');
  /* Add more formats if necessary */
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Metropolis', sans-serif;
}